<strong>Olá, {{ student }}</strong>
<p>Você foi matriculado com sucesso.</p>
<p>
  <strong>Plano: </strong> {{ title }} <br/>
  <strong>Duração: </strong> {{ duration }} <br/>
  <strong>Valor: </strong> R${{ price }},00 <br/>
</p>
