<strong>Olá, {{ studentName }}</strong>
<p>Sua mensagem foi respondida.</p>
<p>
  <strong>Sua dúvida: </strong><br/>
  <div>{{ yourQuestion }}</div>
</p>
<p>
  <strong>Nossa resposta: </strong><br/>
  <div>{{ ourAnswer }}</div>
</p>
